<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ol>
      </ol>
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>

<script> var currentUserId = <%= current_user.id %></script>

<script type="text/template" id="ranking-list-template">
  <%%= "<p>You've ranked <strong>" + parseInt((collection.length / 250) * 100) + "%</strong> of the IMDb 250!</p>" %>
  <p><strong>Your Top 10</strong></p>
  <%% if (collection.length === 0) { %>
    <p><em>Keep ranking! Movies need at least three matchups before being displayed.</em></p>
    <%% } %>
  <%% for (var i=0; i<10; i++) { %>
    <%% if (collection.models[i]) { %>
    <%%= "<li alt='" + collection.models[i].get('title') + "'><a target='_blank' href=" + collection.models[i].get('imdb_url') + '>' + collection.models[i].get('title') + "</a></li>" %>
    <%% } %>
  <%% } %>
</script>

<script type="text/template" id="watchlist-template">
<p><strong>Watchlist</strong></p>
  <%% for (var i=0; i<10; i++) { %>
    <%% if (collection.models[i]) { %>
    <%%= "<li alt='" + collection.models[i].get('title') + "'><a target='_blank' href=" + collection.models[i].get('imdb_url') + '>' + collection.models[i].get('title') + "</a></li>" %>
    <%% } %>
  <%% } %>
</script>

<script type="text/template" id="movie-comparison-template">
  <%% collection.each(function(movie){  %>
    <div class="col-md-6">
      <img data-id="<%%= movie.get('id') %>" src="http://image.tmdb.org/t/p/w500<%%= movie.get('poster_url') %>" class="img-rounded img-responsive movie-choice" alt="<%%= movie.get('title') %>">
      <figcaption><strong><a target="_blank" href=<%%= movie.get("imdb_url")%>><%%= movie.get('title') + "</a> - " + movie.get('year') %></strong></figcaption>
      <button data-id="<%%= movie.get('id') %>" type="button" class="btn btn-danger">Haven&#39;t seen</button>
    </div>
  <%% }) %>
</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
