<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ol>
      </ol>
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>

<script> var currentUserId = <%= current_user.id %></script>

<script type="text/template" id="ranking-list-template">
  <%% collection.each(function(movie){  %>
    <li alt="Movie title"><%%= movie.get('title') %></li>
  <%% }) %>
</script>

<script type="text/template" id="movie-comparison-template">
  <%% collection.each(function(movie){  %>
    <img src="<%%= movie.get('poster_url') %>" class="img-rounded img-responsive movie-choice" alt="Responsive image">
  <%% }) %>
</script>
