figcaption {
  margin: 3%;
}

li {
  list-style-position:inside;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 125%;
}

.movie-choice {
  cursor: pointer;
  display: inline;
  height: 500px;
  margin: 3% 3%;
   -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1,1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;

        &:hover {
          -webkit-transform: scale(1.05,1.07);
          -webkit-transition-timing-function: ease-out;
          -webkit-transition-duration: 250ms;
          -moz-transform: scale(1.05,1.07);
          -moz-transition-timing-function: ease-out;
          -moz-transition-duration: 250ms;
        }
}

.btn-success {
  margin-top: 5px;
  position: relative;
}

.video-section {
  position: relative;
  top: -18px;
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.33);
padding: 110px 0 32px;
min-height: 650px;
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:60px;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}
